<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Overlay Search</title>
  
  
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
  <link href="/css/profile.css" rel="stylesheet">

  <style type="text/css">
    body {
      font-family: sans-serif;
      margin: 0;
      padding: 0;
      background-size: cover;
      background-repeat: no-repeat;
    }

    #search-icon-top{
      position: fixed;
      top: 1em;
      right: 1em;
      background-color: rgba(0,0,0,0.8);
      padding: 10px;
      border-radius: 2px;
      color: #FFF;
    }

    #search-icon-top:hover{
      background-color: rgba(0,0,0,0.5);
      cursor: pointer;
      
    }

    #search-overlay{
      display:none;
      position: fixed;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      z-index: 2;
      cursor: pointer;
    }

    .block {
      position: fixed;
      top: 0;
      right: 0;
      bottom:0 ;
      left: 0;
      overflow: auto;
      text-align: center;
      background: rgba(0, 0, 0, 0.9);
      border: #a0a0a0 solid 1px;
      margin: 0;
    }

    .block:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: 0;
      /* Adjusts for spacing */
      /* For visualization 
      background: #808080; width: 5px;
      */
    }

    .top {
      display: inline-block;
      vertical-align: top;
      width: 80%;
      padding: 10px;
      color: #FFF;
      border: none;
      background: transparent;
    }

    #search-box {
      position: relative;
      width: 100%;
      margin: 0;
    }

    #search-form {
      height: 4em;
      border: 1px solid #999;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      background-color: #fff;
      overflow: hidden;
    }

    #search-text {
      font-size: 12px;
      color: #ddd;
      border-width: 0;
      background: transparent;
    }

    #search-box input[type="text"] {
      width: 100%;
      color: #333;
      outline: none;
      font-size: 1.4em;
    }

    #search-button {
      position: absolute;
      top: 0;
      height: 1em;
      width: 100px;
      font-size: 12px;
      color: #fff;
      text-align: center;
      line-height: 42px;
      border-width: 0;
      background-color: #4d90fe;
      -webkit-border-radius: 0 2px 2px 0;
      -moz-border-radius: 0 2px 2px 0;
      border-radius: 0 2px 2px 0;
      cursor: pointer;
    }
    
    #close-icon-top{
      position: fixed;
      top: 0.5em;
      right: 0.5em;
    }
    #close-icon-top:hover{
      color: #777;
      cursor: pointer;
    }
    /* ---------------- */
        #myInput {
      /*background-image: url('/css/searchicon.png');
      background-position: 10px 12px;
      background-repeat: no-repeat;*/
      background-color: white;
      width: 100px;
      font-size: 16px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }
    
    #myUL {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    #myUL li a {
      border: 1px solid #ddd;
      margin-top: -1px; /* Prevent double borders */
      background-color: #f6f6f6;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      color: black;
      display: block
    }

    #myUL li a:hover:not(.header) {
      background-color: #eee;
    }

    input::-webkit-input-placeholder {
         opacity: 1; /*Change opacity of placeholder text*/
    }

  </style>
    <link href="/css/index.css" rel="stylesheet">


  
</head>

<body>

<div id="overlay">
  <i id="search-icon-top" class="fa fa-search fa-2x" onclick="show_overlay()"></i>
  
  <div id="search-overlay" class="block">
    <div class="top">
      <div id='search-box'>
        <i id="close-icon-top" class="fa fa-times fa-2x" onclick="hide_overlay()"></i>

        <form action="." method='get' target='_top'>
          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search categories.." title="Type in a name">
        </form>

        <div>
            {{currentUser.currentCategorySelected}} Categories
        </div>
        <ul id="myUL">
          {{#each currentUsercategoryList}}
            {{#each this}}

                <li><a href="/play/{{id}}">{{title}}</a></li>

            {{/each}}
          {{/each}}
        </ul>

      </div>
    </div>
  </div>

  <div class="page-container" position="fixed !important" position="absolute" top="1em">
    
    <!-- SPACE FOR POPUP -->
    <div id="profile_popup" class="modal"> </div>

    <!-- BOTTOM NAVIGATION BAR -->
    <div class="nav-container">

      <!-- Home -->
      <a href="/">
        <div class="home nav-divider">
          <div class="nav-images">
            <img src="/images/icons/home-100.png" alt="home button">
          </div>
          <div class="nav-title">
            Home
          </div>
        </div>
      </a>

      <!-- Browse -->
      <a href="/browse">
        <div class="browse nav-divider">
          <div class="nav-images">
            <img src="/images/icons/browse-100.png" alt="browse button">
          </div>
          <div class="nav-title">
            Browse
          </div>
        </div>
      </a>

      <!-- Profile -->
        <a class="profile" onclick="checkLoginStatus( {{currentUser.loginStatus}} )" >    
          <div class="profile nav-divider">
          <div class="nav-images">
            <img src="/images/icons/profile-100.png" alt="profile button">
          </div>
          <div class="nav-title">
            Profile
          </div>
        </div>
      </a>

      <!-- Search -->
      <a class="search" onclick="show_overlay()">
        <div class="search nav-divider">
          <div class="nav-images">
            <img src="/images/icons/search-100.png" alt="search button">
          </div>
          <div class="nav-title">
            Search
          </div>
        </div>
      </a>
    </div>

  </div>
</div>




  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script>
    function myFunction() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";

            }
        }
    }
    function show_overlay()
    {
      $('#search-icon-top').hide();
      $('#search-overlay').fadeIn();
    }

    function hide_overlay()
    {
      $('#search-overlay').fadeOut();
      $('#search-icon-top').show();
    }

  </script>
  <script src="/js/jquery-1.11.0.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/profile.js"></script>


</body>

</html>
